.flexbox-container{
  display: flex;
  align-items: center;
}

.item{
  margin-left: 10%;
  margin-right: 10%;
  flex-grow: 1;
}

.item-slider{
  flex-grow: 2;
}

.b{
  border: 1px solid black;
}

.color{
  color:  grey;
}

.label{
  font-size: 2em;
  font-weight: bold;
}